fastapi==0.89.1
fastapi_responseschema==2.0.0
passlib==1.7.4
pydantic==1.10.5
PyJWT==2.6.0
python-dotenv==1.0.0
SQLAlchemy==2.0.4
starlette==0.22.0
mysql-connector-python==8.0.32
pydantic[email]
fastapi_pagination==0.11.4
py-automapper==1.2.3
objectmapper~=0.0.7
uvicorn==0.20.0
